    body
        body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        footer {font-size: 12px;}
        h1 {text-align:center}
        body {background-color: rgb(164, 201, 153);}
        p {background-color: blanchedalmond;}
        .important-text {font-weight: 700}
        